[user]
	name = Andrew Zures
	email = andrew.zures@gmail.com

[color]
  ui = auto

[init]
  defaultBranch = main

[alias]
  aa = add -A .
  amend = commit --amend

  br = branch
  brv = branch -v
  brd = branch -D

  ci = commit
  cm = commit -m
  cma = !git aa && git commit -m
  co = checkout
  cob = checkout -B
  rh = reset HEAD
  last = log -1 HEAD

  di = diff
  dc = diff --cached
  ds = diff --staged

  st = status

  fml = !git aa && git reset --hard
  lg = "log --oneline --decorate --abbrev-commit --date=short"
